@charset "UTF-8";

body{
    background-color: blue;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#interface{
    color: black;
    background-color: white;
    width: 500px;
    margin: auto;
}

#interface p{
    padding-top: 4rem;
    font-size:5em;

}